.MainFrame{
  /* width: 1300px;
  height: 1424px; */
  /* display: flex; */
  background-color: #f4f7fc;
  display: inline-block;
}

.ChangePage{
  display: inline-block;
  background-color: #fff;
  width: 500px;
  display: inline-block;
}


.Shape {
    width: 250px;
    height: fit-content;
    background-color: #fff;
    display: inline-block;
  }

  .Frame {
    width: 250px;
    height: 52px;
    background-color: #fff;
    text-align: left;
    cursor: pointer;
  }

  .Frame:hover{
    background-color: #bed1ee;
  }

  .Name {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    color: #171725;
    position: relative;
    top: 25%;
    margin-left: 40px;
  }

  .logo {
    position: relative;
    top: 32%;
  }

  

  /* .header-logo {
    font-size: 30px;
    position : absolute;
    top: 30px;
  }

  .managerName {
    font-size: 20px;
    position : relative;
    top: 25%;
    left: 70%;
  } */